{% load static %}
<div class="row answer">
    <div class="col-2">
        <div><img src="{{ answer.author.avatar.url }}"></div>
        <div class = "like">
            <i class="arrow up"></i>
            <div class = "vote">0</div>
            <i class="arrow down"></i>
        </div>
    </div>
    <div class="col-10">
        <span class= "ans_author">{{ answer.author.user.username }}</span>
        <div class= "data">{{ answer.date }}</div>
        <div class= "q-text">{{ answer.text }}</div>
        <div class="form-check bottom-ans">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Correct!
            </label>
        </div>
    </div>
</div>