{% load static %}
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>

  <link href="{% static  'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/my.css' %}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

  </head>
  <body class="d-flex flex-column h-100">

{% include "include/navbar.html" %}

<main class="flex-shrink-0">
  <div class="container">
            {% block align %}
      <div class="row">
            {% endblock align %}

        {% block before_content %}
        {% endblock before_content %}
        {% block content_align %}
          <div class="col-8">
            {% endblock content_align %}
            {% block content %}
            {% endblock content %}
            {% block navigation %}
            {% endblock navigation %}
        </div>
      <div class="col-4">
        {% block side %}
        {% endblock side %}
      </div>
    </div>
  </div>
</main>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  </body>
</html>