{% load static %}
<div class="row question">
    <div class="col-2">
        <div>
            <img src="{{ question.author.avatar.url }}">
        </div>
        <div class = "like">
            <i class="arrow up"></i>
           <div class = "vote">0</div>
            <i class="arrow down"></i>
        </div>
    </div>
    <div class="col-10">
        <a href="{% url 'one_question' pk=question.id %}"><h2>{{ question.title }}</h2></a>
        <span class= "author">Author: {{ question.author.user.username }}</span>
        <span class= "date">{{ question.date }}</span>
        <div class= "text q-text">{{ question.text }}</div>
        <div class="bottom-ans">
        <a href="{% url 'one_question' pk=question.id %}">answer <span class="ans-count">({{ question.answer_num }})</span></a>
        <span class="tags">Tags:
            {% for i in range(question.answer_num) %}
            <a href="{% url 'tagged_questions' str=question.tags()[i] %}">{{ question.tags[i] }}</a>
            {% endfor %}
        </span>
        </div>
    </div>
</div>