<nav aria-label="Page navigation">
    <ul class="pagination">
        {% for i in questions.paginator.page_range %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endfor %}
    </ul>
</nav>