{% extends 'include/base.html' %}
{% load static %}

{% block title %}Main page{% endblock title %}

{% block before_content %}
<div class="col-4 q-title"><h1>New Questions</h1></div>
<div class="col-4"><a id = "q-link" href="{% url 'hot' %}">Hot Questions</a></div>
{% endblock before_content %}

{% block content %}
{% for question in questions %}
    {% ans_num = question.objects.answer_num() %}
    {% tags = question.objects.tags() %}
    {% include "include/question.html" %}
{% endfor %}
{% endblock content %}

{% block navigation %}
{% include "include/questions_paginator.html" %}
{% endblock navigation %}

{% block side %}
{% include "include/side.html" %}
{% endblock side %}
