{% extends 'include/base.html' %}
{% load static %}

{% block title %}Question{% endblock title %}

{% block content %}

{% include "include/question.html" %}

{% for answer in answers %}
    {% include "include/answer.html" %}
{% endfor %}

<div class="mb-3">
    <textarea class="form-control" rows="4" placeholder="Enter your answer here"></textarea>
</div>
<div class="form-btn answer-btn">
    <button class="btn my-btn" type="submit">Answer</button>
</div>

{% endblock content %}

{% block navigation %}
<nav aria-label="Page navigation">
    <ul class="pagination">
        {% for i in answers.paginator.page_range %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endfor %}
    </ul>
</nav>
{% endblock navigation %}

{% block side %}
{% include "include/side.html" %}
{% endblock side %}